#git Token文件
/gitHubToken.txt


#所有class文件
*.class


#日志文件
*.log
logs/


#jar包
*.jar
!lib/my.jar


#targe文件
provider-user-service7001/target/
gateway-one9527/target/
provider-driver-service8001/target/
provider-order-service9001/target/
provider-payment-service6001/target/

#test文件
provider-user-service7001/src/test
gateway-one9527/src/test
provider-driver-service8001/src/test
provider-order-service9001/src/test
provider-payment-service6001/src/test


#忽略所有以 ~ 结尾的文件
*~