<?xml version="1.0" encoding="UTF8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zxy.work.dao.OrderMapper">

    <resultMap id="BaseResultMap" type="com.zxy.work.entities.Order">
        <id column="ID" property="id" jdbcType="INTEGER"/>
        <result column="USER_ID" property="userId" jdbcType="INTEGER"/>
        <result column="DRIVER_ID" property="driverId" jdbcType="INTEGER"/>
        <result column="START_ADDRESS" property="startAddress" jdbcType="VARCHAR"/>
        <result column="END_ADDRESS" property="endAddress" jdbcType="VARCHAR"/>
        <result column="STATUS" property="status" jdbcType="INTEGER"/>
        <result column="PRICE" property="price" jdbcType="FLOAT"/>
        <result column="DISTANCE" property="distance" jdbcType="DOUBLE"/>
        <result column="END_TIME" property="endTime" jdbcType="DATE"/>
        <result column="CREATE_TIME" property="createTime" jdbcType="DATE"/>
        <result column="UPDATE_TIME" property="updateTime" jdbcType="DATE"/>
        <result column="IS_DELETED" property="isDeleted" jdbcType="TINYINT"/>
    </resultMap>

    <insert id="create" parameterType="Order" useGeneratedKeys="true" keyProperty = "id" keyColumn = "id">
        insert into online_taxi.order(USER_ID,DRIVER_ID,START_ADDRESS,END_ADDRESS,STATUS,DISTANCE)
        values(#{userId},#{driverId},#{startAddress},#{endAddress},#{status},#{distance});
    </insert>

    <update id="delete" parameterType="Integer">
        UPDATE online_taxi.order
        SET is_deleted = 1
        WHERE id = #{id} AND is_deleted = 0
    </update>

    <update id="update" parameterType="Order" >
        UPDATE online_taxi.order
        <set>
            <if test="driverId != null">driver_id = #{driverId},</if>
            <if test="price != null">price = #{price},</if>
            <if test="endTime != null">end_time = #{endTime},</if>
            <if test="status != null">status = #{status},</if>
        </set>
        WHERE id = #{id} AND is_deleted = 0
    </update>

    <select id="selectByUserId" parameterType="Integer" resultMap="BaseResultMap">
        SELECT ID,USER_ID,DRIVER_ID,START_ADDRESS,END_ADDRESS,STATUS,PRICE,DISTANCE,END_TIME FROM online_taxi.order WHERE is_deleted = 0 AND user_id = #{userId}
    </select>

    <select id="selectByDriverId" parameterType="Integer" resultMap="BaseResultMap">
        SELECT ID,USER_ID,DRIVER_ID,START_ADDRESS,END_ADDRESS,STATUS,PRICE,DISTANCE,END_TIME FROM online_taxi.order WHERE is_deleted = 0 AND driver_id = #{driverId}
    </select>

    <select id="selectByOrderId" parameterType="Integer" resultMap="BaseResultMap">
        SELECT ID,USER_ID,DRIVER_ID,START_ADDRESS,END_ADDRESS,STATUS,PRICE,DISTANCE,END_TIME FROM online_taxi.order WHERE is_deleted = 0 AND id = #{id}
    </select>

<!--    &gt;	表示大于号-->
<!--    &lt;	表示小于号-->
    <select id="selectNotSolve" parameterType="Integer" resultMap="BaseResultMap">
        SELECT ID,USER_ID,DRIVER_ID,START_ADDRESS,END_ADDRESS,STATUS,PRICE,DISTANCE,END_TIME FROM online_taxi.order
                 WHERE is_deleted = 0 AND user_id = #{userId} AND status &lt; 4
    </select>

</mapper>